<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Video Games Due To</title>
</head>

<body>
    <nav>
        <div><a href="/videogames/">Home</a></div>
        <div><a href="/videogames/new">Add a Game</a></div>
        <div><% if (user) { %><a href="/logout">Log Out</a></div>
            <% } else { %>
        <div><a href="/auth/google">Login with Google</a></div>
            <% } %>
    </nav>