<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Welcome to <%= title %></h1>
    <% if (user) { %>
      <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Log in with Google</a>
      <% } %>

  </body>

</html>