<%- include('../partials/header') %>

    <h1>Add Your Video Game</h1>
    <form action="/videogames" method="POST" autocomplete="off">
        <input type="text" name="title" placeholder="Name of Video Game" required>
        <br><br>Completion Status: <select name="statusOfCompletion">['Not Started', 'In Progress', 'Completed']
            <option value="Not Started">Not Started</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>
        <br><br>
        <button type="submit">Add Video Game</button>
    </form>

<%- include('../partials/footer') %>