<%- include('../partials/header') %>

<div class="comet">
    <h1><a href="<%= theDay %>">Here is a list of coments heading towards us for the next 7 days!</a></h1>
<%- include('../partials/footer') %>